**/.gradle
**/build
**.hprof
/.idea
/.vscode
/*.hprof
**/_obj
/tmp
**/*.log
**/*.o
**/*.so
**/*.class
/ndk
/.android
/.cache
/.kotlin
/.konan
/.bash_history
/.local
/ktor
/lint.xml
/.ssh
/.conan
/kipfs_local.properties


/local.properties
/local_*.env
/ktor
